# Local files
CMakeUserPresets.json
*py-build-cmake.local.toml
*py-build-cmake.local.pbc
*py-build-cmake.cross.toml
*py-build-cmake.cross.pbc
*.local.profile
*.cross.profile

# Temporary build and cache folders
build
.*cache
__pycache__

# Virtual environments
.venv

# Python distribution and building
/dist
/sdist
/wheelhouse
/staging
